COMPOSE_DIR=PATH_TO_THE_COMPOSE_DIR
COMPOSE_FILE=compose.yml
UNDEPLOYED_SEED=session knock forget marble tiny session avocado suit change toilet verify kind pattern manual snake urban discover grid salad family attack crouch tortoise sleep
